
<div class="card">
    <div class="card-header">Products</div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Component</th>
            <th>Store</th>
            <th>Currency</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let model of models">
            <td>{{ model.title }}</td>
            <td>{{ model.component ? model.component.name : '' }}</td>
            <td>{{ model.store ? model.store.name : '' }}</td>
            <td>{{ model.currency ? model.currency.name : '' }}</td>
            <td>{{ model.price }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="delete(model)">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
            </td>
        </tr>

        <tr *ngIf="editableModel === null || editableModel.id">
            <td colspan="6" class="text-right">
                <button class="btn btn-sm btn-success" (click)="setEditable()">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
        </tr>

        <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
            <td>
                <input type="text" class="form-control" placeholder="Value" [(ngModel)]="editableModel.title">
            </td>
            <td>
                <select class="form-control" [(ngModel)]="editableModel.component_id">
                    <option [value]="component.id" *ngFor="let component of components">{{ component.value }}</option>
                </select>
            </td>
            <td>
                <select class="form-control" [(ngModel)]="editableModel.store_id">
                    <option [value]="store.id" *ngFor="let store of stores">{{ store.name }}</option>
                </select>
            </td>
            <td>
                <select class="form-control" [(ngModel)]="editableModel.currency_id">
                    <option [value]="currency.id" *ngFor="let currency of currencies">{{ currency.name }}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Value" [(ngModel)]="editableModel.price">
            </td>
            <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
