<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 col-md-4 mb-3 px-2">
            <app-types #typesComponent
                       [models]="types"
                       (OnChange)="refreshTypesAndFields()"></app-types>
        </div>
        <div class="col-sm-6 col-md-4 mb-3 px-2">
            <app-fields #fieldsComponent
                        [models]="fields"
                        (OnChange)="refreshTypesAndFields()"></app-fields>
        </div>
        <div class="col-sm-6 col-md-4 mb-3 px-2">
            <app-type-fields #typeFieldsComponent
                             [models]="typeFields" [fields]="fields" [types]="types"
                             (OnChange)="refreshTypesAndFields()"></app-type-fields>
        </div>
        <div class="col-12 mb-3 px-2">
            <app-captions #captionsComponent
                          [models]="captions" [types]="types" [fields]="fields"
                          (OnChange)="refreshTypesAndFields()"></app-captions>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6 mb-3 px-2">
            <app-currencies #currenciesComponent
                            [models]="currencies"
                            (OnChange)="refreshCurrencies()"></app-currencies>
        </div>
        <div class="col-md-6 mb-3 px-2">
            <app-stores #storesComponent
                        [models]="stores" [currencies]="currencies"
                        (OnChange)="refreshStores()"></app-stores>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 mb-3 px-2">
            <app-components #componentsComponent
                            [models]="components" [types]="types"
                            (OnChange)="refreshComponents()"></app-components>
        </div>
        <div class="col-12 mb-3 px-2">
            <app-specifications #specificationsComponent
                                [models]="specifications"
                                [captions]="captions" [components]="components" [fields]="fields"
                                (OnChange)="refreshSpecifications()"></app-specifications>
        </div>
        <div class="col-12 mb-3 px-2">
            <app-products #productsComponent
                          [models]="products"
                          [components]="components" [stores]="stores" [currencies]="currencies"
                          (OnChange)="refreshProducts()"></app-products>
        </div>
    </div>
</div>
