
<div class="card">
  <div class="card-header">Currencies</div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Short</th>
      <th>ToEur</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let model of models">
      <td>{{ model.name }}</td>
      <td>{{ model.short }}</td>
      <td>{{ model.to_eur }}</td>
      <td class="text-right">
        <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
          <span class="fa fa-pencil"></span>
        </button>
      </td>
    </tr>

    <tr *ngIf="editableModel === null || editableModel.id">
      <td colspan="4" class="text-right">
        <button class="btn btn-sm btn-success" (click)="setEditable()">
          <span class="fa fa-plus"></span>
        </button>
      </td>
    </tr>

    <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
      <td><input placeholder="Name" class="form-control" [(ngModel)]="editableModel.name" /></td>
      <td><input placeholder="Short" class="form-control" [(ngModel)]="editableModel.short" /></td>
      <td><input placeholder="To Eur" class="form-control" [(ngModel)]="editableModel.to_eur" /></td>
      <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
    </tr>
    </tbody>
  </table>
</div>
