<div class="card">
    <div class="card-body">
        <h5 class="card-title">Fields</h5>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let model of models">
            <td>{{ model.name }}</td>
            <td class="text-right">
                <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
                    <span class="fa fa-pencil"></span>
                </button>
            </td>
        </tr>

        <tr *ngIf="editableModel === null || editableModel.id">
            <td colspan="2" class="text-right">
                <button class="btn btn-sm btn-success" (click)="setEditable()">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
        </tr>

        <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
            <td><input placeholder="Name" class="form-control" [(ngModel)]="editableModel.name" /></td>
            <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
