
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Type fields</h5>
    <div class="row">
      <div class="col">
        <select class="form-control" [(ngModel)]="selectedTypeId">
          <option value="0">{{ selectedTypeId != 0 ? 'None' : 'Select type' }}</option>
          <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" [(ngModel)]="selectedFieldId">
          <option value="0">{{ selectedFieldId != 0 ? 'None' : 'Select field' }}</option>
          <option *ngFor="let field of fields" [value]="field.id">{{ field.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Field</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let model of models" [hidden]="isHidden(model)">
      <td>{{ model.type ? model.type.short : '' }}</td>
      <td>{{ model.field ? model.field.name : '' }}</td>
      <td class="text-right">
        <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
          <span class="fa fa-pencil"></span>
        </button>
      </td>
    </tr>

    <tr *ngIf="editableModel === null || editableModel.id">
      <td colspan="3" class="text-right">
        <button class="btn btn-sm btn-success" (click)="setEditable()">
          <span class="fa fa-plus"></span>
        </button>
      </td>
    </tr>

    <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
      <td>
        <select class="form-control" [(ngModel)]="editableModel.type_id">
          <option [value]="type.id" *ngFor="let type of types">{{ type.short }}</option>
        </select>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="editableModel.field_id">
          <option [value]="field.id" *ngFor="let field of fields">{{ field.name }}</option>
        </select>
      </td>
      <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
    </tr>
    </tbody>
  </table>
</div>
