
<div class="card">
    <div class="card-header">Components</div>
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let model of models">
            <td>{{ model.type ? model.type.name : '' }}</td>
            <td>{{ model.name }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="delete(model)">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
            </td>
        </tr>

        <tr *ngIf="editableModel === null || editableModel.id">
            <td colspan="3" class="text-right">
                <button class="btn btn-sm btn-success" (click)="setEditable()">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
        </tr>

        <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
            <td>
                <select class="form-control" [(ngModel)]="editableModel.type_id">
                    <option [value]="type.id" *ngFor="let type of types">{{ type.name }}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Value" [(ngModel)]="editableModel.name">
            </td>
            <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
