
<div class="card">
    <div class="card-header">Specifications</div>
    <table class="table">
        <thead>
        <tr>
            <th>Component</th>
            <th>Field</th>
            <th>Caption</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let model of models">
            <td>{{ model.component ? model.component.name : '' }}</td>
            <td>{{ model.field ? model.field.name : '' }}</td>
            <td>{{ model.caption ? model.caption.value : '' }}</td>
            <td>{{ model.value }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="delete(model)">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
            </td>
        </tr>

        <tr *ngIf="editableModel === null || editableModel.id">
            <td colspan="5" class="text-right">
                <button class="btn btn-sm btn-success" (click)="setEditable()">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
        </tr>

        <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
            <td>
                <select class="form-control" [(ngModel)]="editableModel.component_id">
                    <option [value]="component.id" *ngFor="let component of components">{{ component.name }}</option>
                </select>
            </td>
            <td>
                <select class="form-control" [(ngModel)]="editableModel.field_id">
                    <option [value]="field.id" *ngFor="let field of fields">{{ field.name }}</option>
                </select>
            </td>
            <td>
                <select class="form-control" [(ngModel)]="editableModel.caption_id">
                    <option [ngValue]="null">None</option>
                    <option [value]="caption.id" *ngFor="let caption of captions" [hidden]="caption.field_id != editableModel.field_id">{{ caption.value }}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Value" [(ngModel)]="editableModel.value">
            </td>
            <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
