
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Captions</h5>

    <div class="row">
      <div class="col">
        <select class="form-control" [(ngModel)]="selectedParentId">
            <option value="0">{{ selectedParentId != 0 ? 'None' : 'Select parent' }}</option>
          <option *ngFor="let caption of models" [value]="caption.id" [hidden]="!caption.is_main">{{ caption.value }}</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" [(ngModel)]="selectedTypeId">
            <option value="0">{{ selectedTypeId != 0 ? 'None' : 'Select type' }}</option>
            <option *ngFor="let type of types" [value]="type.id">{{ type.short }}</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" [(ngModel)]="selectedFieldId">
            <option value="0">{{ selectedFieldId != 0 ? 'None' : 'Select field' }}</option>
            <option *ngFor="let field of fields" [value]="field.id">{{ field.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Is Main</th>
      <th>Parent</th>
      <th>Type</th>
      <th>Field</th>
      <th>Value</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let model of models" [hidden]="isHidden(model)">
      <td>{{ model.is_main ? 'True' : 'False' }}</td>
      <td>{{ model.parent ? model.parent.value : '' }}</td>
      <td>{{ model.type ? model.type.name : '' }}</td>
      <td>{{ model.field ? model.field.name : '' }}</td>
      <td>{{ model.value }}</td>
      <td class="text-right">
        <div class="btn-group">
          <button class="btn btn-sm btn-warning" (click)="setEditable(model)">
            <span class="fa fa-pencil"></span>
          </button>
          <button class="btn btn-sm btn-danger" (click)="delete(model)">
            <span class="fa fa-trash"></span>
          </button>
        </div>
      </td>
    </tr>

    <tr *ngIf="editableModel === null || editableModel.id">
      <td colspan="6" class="text-right">
        <button class="btn btn-sm btn-success" (click)="setEditable()">
          <span class="fa fa-plus"></span>
        </button>
      </td>
    </tr>

    <tr *ngIf="editableModel !== null" (keyup)="formKeyPress($event)">
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="editableModel.is_main">
          Is main
        </label>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="editableModel.parent_id">
          <option [ngValue]="null">None</option>
          <option [value]="caption.id" *ngFor="let caption of models" [hidden]="!caption.is_main">{{ caption.value }}</option>
        </select>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="editableModel.type_id">
          <option [ngValue]="null">None</option>
          <option [value]="type.id" *ngFor="let type of types">{{ type.name }}</option>
        </select>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="editableModel.field_id">
          <option [ngValue]="null">None</option>
          <option [value]="field.id" *ngFor="let field of fields">{{ field.name }}</option>
        </select>
      </td>
      <td>
        <input type="text" class="form-control" placeholder="Value" [(ngModel)]="editableModel.value">
      </td>
      <td><button class="btn btn-sm btn-success" (click)="save()"><span class="fa fa-save"></span></button></td>
    </tr>
    </tbody>
  </table>
</div>
